<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="" class="navbar-brand">Rock, Paper, Scissors</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="">Home</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/newgame">New Game</a></li>
      <li *ngIf="!isLoggedIn"><a href="/register">Sign Up</a></li>
      <li *ngIf="!isLoggedIn"><a href="/login">Login</a></li>
      <li *ngIf="isLoggedIn"> <a href="/profile">{{ username }}</a></li>
      <li *ngIf="isLoggedIn"><a href class="nav-link" (click)="logout()">LogOut</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>